@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


/*------------------------------------ reset start ------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.clearfix {
    *zoom: 1;
  }
.clearfix::before, .clearfix::after {
    display: block; content: ""; line-height: 0;
}
.clearfix::after{
    clear: both;
}
body{
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing:-.3px; 
    color: #191919;    
    font-family:'NanumSquare',"Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "나눔 고딕", "Nanum Gothic", "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-size: 64px;
}
h2{
    font-size: 56px;
}
h3{
    font-size: 48px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 36px;
}
h6{
    font-size: 24px;
}
strong{
    font-size: 20px;
}
small{
    font-size: 14px;
}
img{
    width: 100%;
}
button{
    border: none;
}

/* margin -top */
.mt150{
    margin-top:150px !important
}
.mt100{
    margin-top:100px !important
}
.mt50{
    margin-top:50px !important
}
.mt30{
    margin-top:30px !important
}
.mt20{
    margin-top:20px !important
}
.mt15{
    margin-top:15px !important
}
.mt10{
    margin-top:10px !important
}
.mt5{
    margin-top:10px !important
}


/* padding-top */
.pt100{
    padding-top: 100px !important;
}
.pt50{
    padding-top: 50px !important;
}
.pt20{
    padding-top: 20px !important;
}
.pt10{
    padding-top: 10px !important;
}


.wrap{
    min-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
}
.content { 
    position: relative;
    width: 100%; 
    margin: 0px auto; 
}
.displaynone{
    display: none;
}
.indent{
    text-indent: 1em;
    padding: 10px 0;
}

/* form reset */

form{
    height:100%;
}
input {
    font-size:inherit; 
    font-weight:inherit; 
    color:inherit; 
}
input, select, textarea, button{
    font-size: 16px; 
    font-family:"Noto Sans KR","Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "나눔 고딕", "Nanum Gothic", "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; 
}

input, textarea, select, button, table {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #191919;    
}
input::placeholder, textarea::placeholder { 
    color:#999999; 
}
input[type="text"],input[type="email"],input[type="file"],input[type="password"],input[type="date"],input[type="tel"],select{
    padding:0 10px; 
    vertical-align:top;
}
input[type="text"],input[type="password"],input[type="date"],input[type="tel"],input[type="email"] { 
    font-size: 14px; 
    height: 44px; 
    line-height: 44px; 
    border: 1px solid #dbdbdb; 
    border-radius: 3px;
    border-top:1px solid #ededed;
    border-left:1px solid #ededed;
    outline: 0;
}
button{
    font-size: 14px;
    height: 44px;
    display: inline-block;
}    
input[type="password"] {
    font-family: "Noto Sans KR","Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "나눔 고딕", "Nanum Gothic", "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; 
    }
select {
    height: 44px;
    color:#555555;  
    border: 1px solid #dbdbdb; 
    border-radius: 3px;
    border-top:1px solid #9a9a9a;
    border-left:1px solid #ababab;
    outline: 0;
}
textarea{
    padding:20px; 
    font-size: 14px; 
    line-height:1.7; 
    border-radius: 5px;
    border: 1px solid #dbdbdb;    
    border-radius: 3px;    
    border-top: 1px solid #ededed;    
    border-left: 1px solid #ededed;
    outline: 0;
}
button, input[type='submit'],input[type='image'],input[type="button"]{
    cursor:pointer;
     border:0;
}


/* table */
.col5{
    width: 5%;
}
.col10 { 
    width: 10%; 
} 
.col15 { 
    width: 15%; 
} 
.col20 { 
    width: 20%; 
} 
.col25 { 
    width: 25%; 
} 
.col30 { 
    width: 30%; 
} 
.col33 {
     width: 33.333%; 
    } 
.col35 { 
    width: 35%; 
} 
.col40 { 
    width: 40%; 
} 
.col45 { 
    width: 45%; 
} 
.col50 { 
    width: 50%; 
} 
.col55 { 
    width: 55%; 
} 
.col60 { 
    width: 60%; 
} 
.col65 { 
    width: 65%; 
} 
.col66 { 
    width: 66.666%; 
} 
.col70 { 
    width: 70%; 
} 
.col75 { 
    width: 75%; 
} 
.col80 { 
    width: 80%; 
} 
.col85 { 
    width: 85%; 
} 
.col90 { 
    width: 90%; 
} 
.col95 { 
    width: 95%; 
} 
.col100 { 
    width: 100%; 
}

.col10, .col15, .col20, .col25, .col30, .col33, .col35, .col40, .col45, .col50, .col55, .col60, .col65, .col66, .col70, .col75, .col80, .col85, .col90, .col95, .col100 { 
    max-width: 400px; 
    margin: 0px 2px; 
}





/* ---------------------------------------------- index start ------------------------------------------- */


/* index */
#index-wrap .title{
    text-align: center;
}
.login{
    width: 300px;
    margin: auto;
}
#index-wrap #id1, #index-wrap #password1{
    width: 300px;
}
#index-wrap .checkbox input [type="checkbox"]{
    display:inline-block ;
}
#index-wrap .checkbox label{
    margin-left: 5px;
}
#find{
    width: 322px;
    overflow: hidden;
}
#find :nth-child(1){
    float: left;
}
#find :nth-child(2){
    float: right;
}
#index-wrap #btn{
    width: 322px;
    overflow: hidden;
    display: block;
    padding: 1em 0;
    text-align: center;
    background-color: #031953;
    border-radius: 3px;
}
#index-wrap #btn a{
    color: #fff;    
    text-align: center;
}


/* ---------------------------------------------- index end ------------------------------------------- */





/* ---------------------------------------------- member start ------------------------------------------- */

/* nav */
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    height: 100%;
    background-color: #f1f1f5;
    z-index: 999;
}

.nav h1{
    width: 150px;
    padding: 20px;
}
.nav h6{
    padding: 10px 0;
    font-size: 20px;
}
.bottomNav{
    position: absolute;
    bottom: 50px;
}
.nav ul ,.bottomNav{
    width: 100%;
    box-sizing: border-box;
    text-indent: 1em;
}
.nav ul li, .bottomNav span{
    width: 100%;
    height: 30px;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.nav ul li a, .bottomNav a{
    width: 100%;
    color: #767676;
    display: block;
    position: relative;
}
.bottomNav a{
    font-weight: 600;
    font-size: 16px;
}
.nav ul li a.on{
    background-color:rgba(0, 0, 0, 0.2);
    color: #191919;
    font-weight: 800;
    position: relative;
}
.nav ul li a.on:before{
    width: 10px;
    height: 100%;
    background-color: #191919;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.nav ul li:hover a{
    background-color: rgba(0, 0, 0, 0.2);
    color: #191919;
}
.nav ul li a:hover:before{
    width: 10px;
    height: 100%;
    background-color: #191919;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.bottomNav span:hover a{
    text-decoration: underline;
    color: #191919;
    
}

/* contaier */
.container{
    width: 90%;
    margin-left: 170px;
    position: relative;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
}
.title{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #031953;
}
.btnbox{
    float: left;
    width: 300px;
}
.btnbox button {
    border-radius: 5px;
}

.btnbox button a{
    display: block;
    padding: 0 1.5em;
    border-radius: px;
}
.btnbox button:hover{
    background-color: #031953;
}
.btnbox button:hover a{
    color: #fff;
}
.search-box {
    width: 350px;
    height: 50px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #ededed;
    float: right;
    display: block;
    margin-bottom: 20px;
}
.search-box select.opt {
    display: block;
    float: left;
    border: 0;
    background-color: transparent;
}
.search-box .search {
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}
.search-box .search .search-input {
    width: 150px;
    border: 0;
}
.search-input2 {
    padding: 15px 0;
}


/* table */

.member-table, .pro-table, .problem-table{
    border-bottom: 2px solid #dbdbdb;
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    border-top: 2px solid #dbdbdb;
    padding: 50px 0; 
}

.member-table tr, .pro-table tr, .problem-table tr{
    display: table-row;
}
.member-table th, .pro-table th, .problem-table th{
    padding: 0.5em;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ededed;
    background-color: #f1f1f5;
}
.member-table th, .pro-table th, .problem-table th{
    border-top: 0px;
}
.member-table td, .problem-table td{
    border-bottom: 1px solid #ededed;
    padding: 1em;
    box-sizing: border-box;
}
.pro-table td{
    border-bottom: 1px solid #ededed;
    padding: 0.8em;
    box-sizing: border-box;
}
th img{
    width: 20px;
    margin-top: 7px;
}
td.memberRet:hover, td.proRet:hover, td.listRet:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* paging */
.paging{
    max-width: 400px;
    text-align: center;
    margin: auto;
} 
.paging p a{
    padding-left: 15px;
}
.paging p, .paging ol, .paging ol li{
    display: inline-block;
    zoom: 1;
    display: inline;
    vertical-align: middle;
    margin-top: -1px;
}
.paging ol li a.this {
    color: #333;
    font-weight: 700;
}
.paging ol li a {
    color: #999;
    padding: 5px 10px;
}
.filter01{
    padding-left: 8px;
    text-align: left;
}



/* ---------------------------------------------- member end ------------------------------------------- */




/* ---------------------------------------------- member-detail start ------------------------------------------- */
.member-detail, .pro-detail{
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.member-detail form, .pro-detail form{
    border-bottom: 2px solid #031953;
}
.member-detail .btnbox, .pro-detail .btnbox{
    width: 150px;
    float: right;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}
.member-detail table, .pro-detail table{
    border-spacing: 0;
    width: 100%;
}
.member-detail colgroup, .pro-detail colgroup{
    display: table-column-group;
}
.member-detail tbody, .pro-detail tbody{
    display: table-row-group;
    vertical-align: middle;
}
.member-detail tr, .pro-detail tr{ 
    display: table-row;
}
.member-detail th, .pro-detail th{
    padding: 1.5em;
    font-weight: normal;
    border-bottom: 1px solid #ededed;
    text-align: right;
    background-color: #f1f1f5;
}
.member-detail td, .pro-detail td{
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #ededed;
}

.member-detail input [type="checkbox"], .pro-detail input [type="checkbox"] {
    display:inline-block ;
}
.member-detail label, .pro-detail label{
    margin-left: 5px;
}
td.checkbox, td.radiobox{
    text-indent: 15px;
}
.checkbox :nth-child(2), .radiobox :nth-child(2){
    padding-right: 20px;
}
textarea{
    overflow: hidden;
    resize:none;
    height: 100px;
}
/* ---------------------------------------------- member-detail end ------------------------------------------- */




/* ---------------------------------------------- problem-detail1 start ------------------------------------------- */
.detail-inner h4{
    height: 50px;
    border-bottom: 2px solid #031953;
}
.tab-box{
    width: 650px;
    height: 35px;
}
.tabs li{
    width: 25%;
    overflow: hidden;
    float: left;
    border-right: 1px solid #dedede;
    box-sizing: border-box;
}
.tabs :nth-child(1)a{
    border-left: 1px solid #dedede;
}
.tabs li a{
    width: 100%;
    float: left;
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: #ededed;
    padding: 0.5em 0;
}
.tabs li .active{
    background-color: #031953;
}
.tabs li a:hover, .tabs li a.current{
  background:#031953;
  color: #fff;
}

/* topbox */
#tab-02, #tab-01, #boardTab03 .board, #boardTab03-2, #boardTab04, .problem-table{
     border-bottom: 2px solid #031953;
}
.topbox {
    width: 100%;
    height: 128px;
    margin-right: 5%;
    text-align: left;
    border-top: 1px solid #dedede;
}
.topbox th{
    padding: 5px 10px;
    font-weight: normal;
    border-bottom: 1px solid #dedede;
    background-color: #ededed;
    text-indent: 15px;
    text-align: center;
}
.topbox td{
    padding-left: 20px;
    border-bottom: 1px solid #dedede;
}

/* detail-box */
.boardTab{
    width: 100%;
    position: relative;
}

.detail-box strong{
    width: 100%;
    display: block;
    padding: 0.5em 0 0.5em 0.5em;
    background-color: #ededed;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;
    float: left;
}
.detail-box .cont-box{
    width: 99.999%;
    height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
}
.cont-box textarea{
    width: 99.999%;
    height: 96%;
    box-sizing: border-box;
    border: 0;
    resize : none;
    outline: none;
}
.detail-box div.box04-cont{
    height: 363px;
}
.reference-box .reference{
    max-width: 250px;
    display: block;
    float: right;
    padding: 0.5em 1.5em;
}



/* ---------------------------------------------- problem-detail1 end ------------------------------------------- */



/* ---------------------------------------------- problem-detail2 start ------------------------------------------- */
/* boardTab02 */
.writer{
    margin: 12px 0 29px;
    padding: 16px 10px 10px 18px;
    border: 2px solid #ededed;
}
.writer .writer-box{
    position: relative;
    margin-bottom: 10px;
}
.writer .writer-box .name{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}
.writer .writer-box textarea{
    max-height: 500px;
}
.submitbtn{
    text-align: right;
    padding-top: 10px;
}
.submitbtn a{
    display: inline-block;
    min-width: 46px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    color:#999999; 
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}
.comment .comment-box{
    margin-left: 46px;
}
.comment-item-reply{
    padding-left: 46px;
}
.comment .comment-area{
    position: relative;
    padding: 12px 23px 10px 0;
    border-bottom: 1px solid #ededed;
}
.comment .comment-text .nick{
    margin-bottom: 4px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.comment .comment-text .nick a{
    font-weight: 600;
}
.comment .comment-text .text{
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
}
.comment .comment-text .text-view{
    overflow: hidden;
}
.comment .comment-text .info{
    margin-top: 7px;
    font-size: 12px;
    color: #767676;
}
.comment .comment-text .info .info-date{
    margin-right: 10px;
}
.comment .comment-text .info a{
    color: inherit;
    font-weight: 600;
}
.comment .comment-text .info a.delete-button{
    color: #cc3300;
}
.comment .comment-text .info a:hover{
    border-bottom: 1px solid #767676;
}


/* ---------------------------------------------- problem-detail2 end ------------------------------------------- */





/* ---------------------------------------------- problem-detail3 start ------------------------------------------- */

.board{
    border-top: 1px solid#ededed;
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    border-top: 0;
}
 .board tr{
    display: table-row;
}
.board th{
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ededed;
    background-color: #f1f1f5;
}
.board th{
    border-top: 0px;
}
.board td{
    border-bottom: 1px solid #ededed;
    padding: 1em;
    box-sizing: border-box;
}
.boardList{
    text-align: center;
}
.boardStep{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}
.write{
    max-width: 250px;
    font-size: 16px;
    height: 40px;
    text-align: center;
    float: right;
}
.write a{
    width: 100%;
    height: 100%;
    box-sizing: border-box ;
    display: block;
    padding: 0  1.5em;
    line-height: 40px;
}
.write a:hover{
    background-color: #031953;
    color: #fff;
}
.board tr:hover{
    background-color: rgba(225, 225, 225, 0.75);
}
.namebox{
    float: right;
}
.namebox span{
    float: left;
    font-size: 20px;
    line-height: 50px;
}



/* ---------------------------------------------- problem-detail3 end ------------------------------------------- */




/* ---------------------------------------------- sign start ------------------------------------------- */


.sign{
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.datatitle{
    position: relative;
    font-size: 24px;
    font-weight: bold;
}
.table-type1{
    border-top: 2px solid #031953;
}
table{
    border-spacing: 0;
    width: 100%;
}
colgroup{
    display: table-column-group;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
}

.table-type1 tr, .table-type1-information tr, .table-type2-information tr{ 
    display: table-row;
}
.table-type1 th, .table-type1-information th, .table-type2-information th{
    padding: 1.5em;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ededed;
    text-align: right;
    background-color: #f1f1f5;
}
.table-type1 td, .table-type1-information td, .table-type2-information td{
    padding-left: 20px;
    border-bottom: 1px solid #ededed;
}
.table-type1 .star, .table-type1-information .star .table-type2-information .star{
    color: #b30000;
}
.table-type1 .checkbox input [type="checkbox"], .table-type1-information .checkbox input [type="checkbox"], .table-type2-information .checkbox input [type="checkbox"] {
    display:inline-block ;
}
.table-type1 .checkbox label, .table-type1-information .checkbox label, .table-type2-information .checkbox label{
    margin-left: 5px;
}
.table-type1 .checkbox :nth-child(2), .table-type1-information .checkbox :nth-child(2), .table-type2-information .checkbox :nth-child(2){
    padding-right: 20px;
}
.table-type1 .numonly, .table-type1-information .numonly, .table-type2-information .numonly{
    width: 80px;
}
.table-type1 textarea, .table-type1-information textarea, .table-type2-information textarea{
    overflow: hidden;
    resize:none;
}


/* sign-btn */
.sign-btn{
    position: relative;
}
.sign-btn ul{
    text-align: center;
}
.sign-btn ul li{
    display: inline-block;
    max-width: 250px;
    width: 49.5%;
    margin-right: 1%;
}
.sign-btn ul li a{
    display: block;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    color: #fff;
}
.sign-btn ul li a.check{
    background-color: #031953;    
}
.sign-btn ul li a.cancle{
    background-color: #dbdbdb;
}
.sign-btn ul li a.unregister{
    background-color: #9a9a9a;
}


/* ---------------------------------------------- sign end ------------------------------------------- */


/*----------------------------------------- find start-----------------------------------------*/



.findUser{
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

#find-wrap .findUser .tab ul{
    max-width: 500px;
    width: 420px;
    margin: auto;
    display: block;
    overflow: hidden;
}
#find-wrap .findUser .tab li{
    float: left;
    width: 49%;
    margin-right: 1%;    
	cursor: pointer;
    background-color: #ededed;
}
#find-wrap .findUser .tab li a{
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    display: block;
    text-align: center;
}
#find-wrap .findUser .tab li.current a{
    background-color: #031953;
    color: #fff;
}
.findUser .tab-content{
	display: none;
    width: 100%;
}
.findUser div.current{
	display: inherit;
}
#find-wrap .findUser p{
    text-align: center;
    font-size: 16px;
}
#find-wrap .findUser .form{
    text-align: center;
}
.findUser .btn{
    margin: auto;
    text-align: center;
    width: 420px;
    height: 44px;
    background-color: #031953;
    line-height: 44px;
}
.findUser .btn a{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
}



/*----------------------------------------- find end-----------------------------------------*/
/*----------------------------------------- password start-----------------------------------------*/


.password{
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}
.password .form{
    width: 500px;
    margin: auto;
}
#password-wrap input[type='text']{
    width: 300px;
    margin: auto;
    display: block;
}
#password-wrap .content .btn{
    margin: auto;
    text-align: center;
    width: 322px;
    height: 44px;
    background-color: #031953;
    line-height: 44px;
}
#password-wrap .content .btn a{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
}


/*----------------------------------------- password end-----------------------------------------*/